/*-------------------------------------BASIC SET UP------------------------------------*/
html,
body {
    background-color: #0f0f0f;
/*    color: #555;*/
    color: #fcfcfc;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 200%;
    color: #f4f4f4;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-size: 200%;
    color: #f4f4f4;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*---------------------SOCAIL MEDIA ICONS---------------------*/
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-instagram {
    transition: color 0.2s;
}


.fa-facebook {
    color: #3b5998;
}

.fa-facebook:hover {
    color: #8b9dc3;
}

.fa-twitter {
    color: #0084b4;
}


.fa-twitter:hover {
    color: #00aced;
}

.fa-google-plus {
    color: #bc4334;
}

.fa-google-plus:hover {
    color: #dd4b39;
}

.fa-instagram {
    color: #cd486b;
}

.fa-instagram:hover {
    color: #bc2a8d;
}


/*---------------ANIMATIONS-----------------*/
.js--wp-1 {
    opacity: 0;
    animation-duration: 4s;
}

.js--wp-1.animated {
    opacity: 1;
}

.js--wp-2 {
    opacity: 0;
    animation-duration: 3s;
}

.js--wp-2.animated {
    opacity: 1;
}

.js--wp-3 {
    opacity: 0;
    animation-duration: 3s;
}

.js--wp-3.animated {
    opacity: 1;
}

.js--wp-4 {
    opacity: 0;
    animation-duration: 3s;
}

.js--wp-4.animated {
    opacity: 1;
}





/*-------------------------------------NAVIGATION BAR------------------------------------*/

.navbar {
    background: transparent;
    border: none;
    font-family: 'Lato';
}

/*-----London Bitez Logo----*/
.navbar-header img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

/*----Nav Bar Titles----*/
.navbar li a {
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    padding-top: 20px;
}


#navstyle{
    color: #fff;

}


.navbar li a:hover, .navbar li a:active  {
    border-bottom: 2px solid #c00000;
    border-bottom 0.2s;
}

/*----Nav Bar Collapsed---*/
.navbar-collapse{
    border: none;
    box-shadow: none;
/*    float: left !important;*/
}



/*-------------------------------------SPLASH PAGE------------------------------------*/

.splash-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/splash_background.jpg);
    background-size: cover;
    background-position: left;
    height: 100vh;
    background-attachment: fixed;
}

.splash-page-content {
    margin-top: 380px;
}


.splash-page-content h1{
    padding: 0px 40px 40px 0px;
    float: left;
}

.splash-page-content h1:hover{
    color: #841f64;

}

.splash-page-content i{
    padding: 0;
    font-size: 600%;

}


/*-------------------------------------ABOUT PAGE------------------------------------*/

.about-page {
    margin: 3% 0 0 0;
}

.about-page-icons i{
    padding:0;
    font-size: 400%;
    margin: 10% 0 0 50%;
}


.about-page-content {
    margin: 7% 0 0 0;
}

.about-page-content img {
    width: 70%;
    height: 70%;
    border-radius: 50%;

}

.about-page-content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;

}
/* -- used to center image inside of col-lg-6 etc, already in bootstrap copied as an FYI---
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
*/

/*-------------------------------------GALLERY PAGE------------------------------------*/

.gallery-page{
    margin: 4% 0 0 0;
}


.gallery-page h1{
    text-align: center;
    margin-bottom: 7%;
}

#instafeedcontainer{
   padding: 0 0 0 3% !important;
}


.gallery-page img {
    height: 200px;
    width: 200px;
    opacity: 1;
    transition: transform 1s, opacity 0.5s;
}


.gallery-page img:hover {
    opacity: 1.5;
    transform: scale(2);
/*    z-index: 1; position:relative; on zoom layers image on top of others*/
    z-index: 1; position:relative;
}


/*------------------------------LOCATIONS PAGE----------------------------------*/
.locations-page{
    margin: 5% 0 0 0;
}

.removespaces{
    padding: 0 !important;
}

.locations-page h1{
    text-align: center;
    margin-bottom: 4%;
}

.locations-page p{
    text-align: center;
    margin-top: 6%;
}

.locations-page img {
    width: 100%;
    height: 100%;

}

.locations-page p{
    text-align: center;
}

/*------------------------------TESTIMONIALS PAGE----------------------------------*/

.testimonials-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/testimonals-background.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding: 3% 0 10% 0;
    margin: 3% 0 0 0;
}

.testimonials-page h2 {
    text-align: center;
    padding: 0 0 3% 0;

}


.testimonials-page blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

.testimonials-page blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.testimonials-page cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

.testimonials-page cite img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*------------------------------MAP PAGE----------------------------------*/

/*.map {} styles the Google Map on our page*/
.map {
    width: 100%;
    height: 700px;
    padding: 20px 0 0 0;
}


/*------------------------------FOOTER---------------------------------*/

footer {
    padding: 1% 0 1% 0;
    margin: 0;
    font-size: 80%;
}

.footer-nav-left {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

footer p {
    color: #888;
    text-align: center;
    padding: 0;
    margin: 0;
}

















