
/*---------------------NAVIGATION BAR---------------------*/


.navbar {
    background: transparent;
    border: none;
    font-family: 'Lato';


}

/*-----London Bitez Logo----*/
.navbar-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

/*----Nav Bar Titles----*/
.navbar li a {
    text-transform: uppercase;
    text-align: right;
    color: white;
    padding-top: 20px;

}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover  {
    color: white;
}

.navbar li a:hover, .navbar li a:active  {
    border-bottom: 2px solid #c00000;
    border-bottom 0.2s;

}

/*----Nav Bar Collapsed---*/
.navbar-collapse{
    border: none;
    box-shadow: none;
/*    float: left !important;*/
}




/*---------------------SPLASH PAGE---------------------*/

.splash-page {

/*    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/splash_background.jpg);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/splash_background.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    background-attachment: fixed;
}





/*---------------------SOCIAL MEDIA ICONS---------------------*/
.fa fa-facebook,
.fa fa-twitter,
.fa fa-googleplus,
.fa fa-instagram {
    transition: color 0.2s;
}

.fa fa-facebook:hover {
    color: #3b5998;
}

.fa fa-twitter:hover {
    color: #00aced;
}

.fa fa-googleplus:hover {
    color: #dd4b39;
}

.fa fa-instagram:hover {
    color: #517fa4;
}
